body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2b2d42;    
}

body a
{
    text-decoration: none;
    color: #23214c;
    transition: color .2s linear;
}

body a:hover
{
    color: #E31701;
}

.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: #fff;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 90px;
    height: 90px;        
}

.content-1170
{
    width: 1170px;    
}

.content-1170 img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.full-width
{
    line-height: 0;
}




/* TOP MENU */

.menu-wrapper
{    
    transition: background-color .2s linear;
    z-index: 99 !important;
    background-color: #907F9F;
    width: 100% !important;
    top: 0;
    position: fixed;
}

#header-main-menu
{    
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.main-menu.sm-clean
{
    background-color: transparent;    
}

.main-menu.sm-clean a
{    
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    transition: color .2s linear;
    text-transform: uppercase;
    letter-spacing: 0.03cm;
}

.main-menu.sm-clean .sub-menu a 
{
    font-size: 11px;
    line-height: 20px;
}

.sm-clean .current_page_item a 
{
    color: #fff !important;
}

.main-menu.sm-clean a:hover 
{
    color: #fff !important;
}

.sm-clean li.active a
{
    color: #fff !important;
}

.mob-menu
{
    display: none;
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: color .2s linear;
    color: #fff;
}

/* END TOP MENU */



/* GENERAL SECTION */

.section
{    
    position: relative;
    z-index: 1;
}

.section-num
{   
    overflow: hidden;    
    margin-top: 40px;
}

.section-title-holder
{   font-family: sans-serif;
    background-color: #B5AA9D;
    width: 370px;
    height: 370px;    
    z-index: 2;
}

.section-num span
{    
    margin-left: -64px;
    color: #846E5F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: -5px;
}

.section-title-holder h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 109px;
    width: 245px;
    word-break: break-all;
    line-height: 83px;
    margin-top: 10px;
    color: white;
    margin-left: 115px;
    text-transform: uppercase;
    letter-spacing: -3px;
    padding: 0;
}

.section-content-holder
{   
    background: #fff;
    width: 800px;
    padding: 60px 0;
}

.section-content-holder .content-wrapper
{
    padding: 0 60px;
}

.section-content-holder.right
{
    margin-left: 370px;
}

.section-content-holder.left
{
    margin-top: 370px;
}

.section-content-holder .content-title-holder
{
    overflow: hidden;
    height: 100px;
    margin-top: -60px;
    padding-bottom: 50px;
}

.section-content-holder .content-title
{
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    font-size: 180px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: -75px;
    color:#151019;    
}

.extra-content-left
{
    width: 800px;
    color: #fff;    
    padding: 100px 0;
}

.extra-content-right
{
    width: 800px;   
    margin-left: 370px;
    color: #fff;
    padding: 100px 0;
}

.extra-content-full-width
{
    padding: 100px 0;
}

.section:last-of-type .extra-content-left, .section:last-of-type .extra-content-right, .section:last-of-type .extra-content-full-width
{
    padding-bottom: 0;
}

/* END GENERAL SECTION */



/* HOME SECTION */

.intro-page 
{
    padding-bottom: 170px;
    min-height: calc(100vh - 170px);
    background-color: #2B2b42; 
    background-image:url(demo-images/background_02.png); 
    background-repeat: repeat; 
    background-position: center top; 
    background-size: cover;
    z-index: 10;
}

.top-logo
{
    width: 160px !important;    
    padding-top: 150px;
}



h1.big-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 50%;
    padding-top: 300px;
    color: blue;
    letter-spacing: 1px;    
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}
span {
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(50px);
    
}
span.fade{
    color: white;
    
}


.intro-1{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    color: white;
    height: 100vh;
    position: absolute;
    top: 70%;
    left: 30%;
}

h3.typing{
    margin-left: 10px;
    position: relative;
    
}
h3.typing::after{
    content: "";
    position: absolute;
    right: -2px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.title-desc
{
    font-family: 'PT Serif', serif;
    font-size: 22px;
    line-height: 26px;
    max-width: 333px; 
    margin: 0 auto;
    color: #fff;
}

.page-template-page-home .intro-page footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* END HOME SECTION */


/* ABOUT SECTION */

#about
{
    background-color: rgb(21,16,25); 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: cover; 
    z-index: 7;
}

#about .section-title-holder
{
    background-color: #380984;
}

#about .section-title-holder span
{
    color: #AB7CF7;
}

#about .section-content-holder
{
    padding-bottom: 0;
}

.member-content-holder 
{
    width: 330px;
    padding: 90px 60px 60px 60px;
    float: left;
}

.member-image-holder 
{
    width: 370px;
    float: right;
}

.member-image-holder img
{
    width: 100% !important;
}

.member-name
{
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}

.member-position
{
    line-height: 16px;
    font-size: 14px;
    padding-bottom: 20px;
    color: rgb(21,16,25);
    letter-spacing: 1px;
}

.member-content
{   
    font-size: 15px;
    line-height: 1px;    
}
.content-wrapper-1
{
    background-color: white;
    color: black;
    width: 500px;
    height: 200px;
    padding: 10px 40px 40px 40px;
    float: left;
}

.image-slider-wrapper.img .image-slider li img
{
    width: 100%;
}

/* END ABOUT SECTION */



/* SKILLS SECTION */


#skills
{
    background-color: rgb(21,16,25);
    background-repeat: no-repeat; 
    background-position: left top; 
    background-size: 100%; 
    z-index: 4;
}

.progress_bar 
{
    margin-bottom: 15px;
}

.progress_bar_field_holder 
{
    height: 59px;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.progress_bar_field_holder:hover .progress_bar_title
{
    left: 10px;
    color: #fff !important;
}

.progress_bar_field_holder:hover .progress_bar_percent_text
{
    right: 10px;
    color: #fff !important;
}

.progress_bar_title
{
    position: absolute;
    top: 8px;
    z-index: 2;
    left: -11px;
    font-weight: bold;
    color: white;
    font-size: 45px;
    line-height: 100%;
    transition: color .2s linear, left .2s linear;
}

.progress_bar_percent_text
{
    position: absolute;
    right: -35px;
    top: 15px;
    z-index: 2;
    font-weight: bold;
    color: white;
    font-size: 35px;
    line-height: 100%;
    transition: color .2s linear, right .2s linear;
}

.progress_bar_field_perecent 
{
    height: 59px;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* END SKILLS SECTION */




/* CONTACT SECTION */

#contact
{
    background-color: rgb(21, 16, 25); 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-size: auto; 
    z-index: 3;
}

#contact .section-title-holder
{
    background-color: rgb(145, 223, 242);
}

#contact .section-title-holder span
{
    color: #6AA3B1;
}

#contact .section-content-holder
{
    padding-bottom: 0;
    
    
}



.contact-form
{
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    font-size: 22px;
    color: #9a9a9a;
}

p.custom-text-class 
{
    display: inline-block;
    padding-right: 45px;
    vertical-align: top;
}

p.custom-field-class 
{
    display: inline-block;
    margin-bottom: 60px;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea
{
    color: #151019;
    border: 0;
    border-bottom: 1px solid #1c1c1c;
    height: 28px;    
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    line-height: 25px;
    padding: 0;
}

.contact-form input[type=text]::-webkit-input-placeholder, .contact-form input[type=email]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder
{
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.contact-form input[type=text]::-moz-placeholder, .contact-form input[type=email]::-moz-placeholder, .contact-form textarea::-moz-placeholder
{
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
}
.contact-form input[type=text]:-ms-input-placeholder, .contact-form input[type=email]:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder
{
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.contact-form input[type=text]:-moz-placeholder, .contact-form input[type=email]:-moz-placeholder, .contact-form textarea:-moz-placeholder
{
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text], .contact-form input[type=email]
{
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.contact-form textarea
{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-top: 13px;
    overflow: hidden;
    padding-bottom: 5px;
}

.contact-form textarea:focus
{
    height: 150px;
    overflow: auto;
}

.contact-form input[name="your-name"]
{
    margin-top: 0;
    padding-top: 0;
}

.contact-form input[type=submit]
{	
    color: #6AA3B1;
    display: inline-block;
    border: 2px solid #6AA3B1;
    text-align: center;
    padding: 12px 0px;
    cursor: pointer;
    margin-top: 30px;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .2s linear;
}

.contact-form input[type=submit]:hover
{
    color: white;
    background-color: #6AA3B1;
}

div.contact-form-response-output
{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

span.contact-form-not-valid-tip
{
    font-size: 10px;
}

/* END CONTACT SECTION */


/* FOOTER */

footer
{
    background-color: #151019;
}

.footer
{
    font-size: 16px;
    line-height: 36px;
    clear: both;
    color: #5b5881;
    text-align: center;    
    padding: 100px 0;
}

.footer-left, .footer-right
{
    width: 810px;
}

.footer-right
{
    margin-left: 370px;
}

.footer a
{
    color: #5b5881;
}

.social-footer a 
{
    margin: 0 10px;
    font-size: 20px;
}

/* END FOOTER */





